/* reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* poppins style
    .poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

*/
/* css style begin */
body{
    font-family: "Poppins", sans-serif;
    background-color: #fbf8f6;
    background-image: radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px);
    background-size: 15px 15px;
    border: 50px solid #fbf8f6; /* Bordure blanche de 10px autour du site */
    padding: 0px; /* Espace entre le contenu et la bordure */
    box-sizing: border-box; /* Inclut la bordure dans la taille totale de l'élément */
}
.header ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
    align-items: center;
    gap: 59px;
    margin-right: 58px;
    margin-top: 30px;
}
.header ul li a{
    font-size: 16px;
    color: black;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

.header ul li .contacts{
    width: 160px;
    height: 37px;
    margin-left: 41px;
    border-radius: 7px;
    background-image: linear-gradient(to right, #000000, #16542B);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

.header ul li #contacts{
    color: white;
    margin: auto;
}

.header ul li img{
    width: 39px;
    height: 22px;
}

.landing-1{
    display: flex;
    flex-direction: column; /* Aligne les éléments en colonne */
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    margin: 60px auto; /* Centrage horizontal avec auto */
    justify-content: space-between;
}

.landing-left{
    text-align: center;
    display: flex;
    justify-content: start;
}

.landing-left-content h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;  /* Utiliser un poids bold */
    color: #333;  /* Couleur du texte */
    letter-spacing: 1px;  /* Optionnel : espacement entre les lettres */;
}

.landing-left-content h2{
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.landing-left-content-subt{
    margin-top: 28px;
}

.landing-left-content p{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #5F5F5F;
}

.landing-left-content .hire-btn{
    width: 200px;
    height: 35px;
    border-radius: 1000px;
    background-color: #f4d4e1;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.landing-left-content .hire-btn a{
    color: #5d6d7e;
    font-weight: 600;
    font-style: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}


.landing-left-content .hire-btn a:hover {
    color: #ff6347; /* Change la couleur lors du survol */
}

.landing-left-content .hire-btn .hire-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: 21px;
}

.landing-left-content .hire-btn img{
    width: 39px;
    height: 22px;
}

.landing-right{
    display: flex;
    justify-content: end;
}

.landing-right img{
    width: 486px;
    height: 493px;
}

.footer {
    position: fixed; /* Fixe le footer en bas de l'écran */
    bottom: 0; /* Position en bas */
    right: 0; /* Alignement à gauche */
    font-family: 'Poppins', sans-serif; /* Police */
    font-size: 14px; /* Taille du texte */
    color: #5F5F5F; /* Couleur du texte */
    font-style: italic; /* Italique */
    padding: 10px; /* Espacement pour l'esthétique */
    background-color: transparent; /* Fond transparent */
    z-index: 10; /* Priorité d'affichage par rapport à d'autres éléments */
}


